.task-card {
    color: #000000;
    background-color: #ffffff;
    min-height: 55px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 20px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.task-card:hover {
    cursor: grab;
}

.btn-group {
    position: absolute;
    display: flex;
    gap: 10px;
    right: 0;
    bottom: -15px;
}

.delete-button {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: rgb(180, 0, 0);
    color: #ffffff;
    right: -20px;
    bottom: -40px;
    cursor: pointer;
}

.abort-button {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: rgb(180, 0, 0);
    color: #ffffff;
    right: -20px;
    bottom: -40px;
    cursor: pointer;
}

.delete-button:hover,
.abort-button:hover {
    background-color: rgb(112, 0, 0);
}

.edit-button {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: rgb(255, 153, 0);
    color: #ffffff;
    right: -20px;
    top: -38px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: rgb(186, 112, 0);
}

.confirm-button {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: rgb(0, 255, 26);
    color: #ffffff;
    right: -20px;
    top: -38px;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: rgb(1, 177, 18);
}

.task-name {
    text-overflow: ellipsis;
}

#task-name-edit {
    outline: 2px solid rgb(255, 76, 22);
    text-align: center;
    font-size: 1rem;
    margin: 0 10px;
}